[Unit]
Description=dokku-daemon

[Service]
Environment="DOKKU_LOCK_PATH=/var/lock/dokku-daemon/dokku-daemon.lock"
Environment="DOKKU_SOCK_PATH=/var/run/dokku-daemon/dokku-daemon.sock"
Environment="USER=dokku"
Environment="GROUP=dokku"
Environment="PERMS=0777"
EnvironmentFile=-/etc/systemd/system/dokku-daemon.env

ExecStart=/usr/bin/dokku-daemon

[Install]
WantedBy=multi-user.target
